.card {
	box-sizing: border-box;
    padding: 14px;
}
h1 {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 5em;
    color: #9F1706;
    font-weight: bold;
    margin: 28px 0px;
}
.form-control {
	font-size: 2.5rem;
}
.reference-story {
	margin: 10px 0px;
}
.results_section {
	margin: 35px 0px;
}
.results_section h3 {
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 14px 0px;
    color: #9F1706;
    border-bottom: solid thin rgba(0,0,0,0.1);
    box-sizing: border-box;
    padding: 0px 0px 7px 0px;
}
.string_match {
	background: #FFFF33;
}